<!DOCTYPE html>
<html ng-app="TaskTimer" ng-csp>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript" src="js/lib/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/lib/moment.js"></script>
        <script type="text/javascript" src="js/lib/angular.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        
    </head>
    <body id="popup" class='container'>
        <div ng-controller="PageController as pCntr">
            <form class="form-horizontal" id="newTimer">
                <div class="form-group">
                    <label>Project</label>
                    <input class="form-control" type="text" ng-model="pCntr.project" required ng-trim="true"/>
                </div>
                <div class="form-group">
                    <label>Task</label>
                    <input class="form-control" type="text" ng-model="pCntr.task" required ng-trim="true"/>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-default" data-ng-click="pCntr.addTimer()">Add Timer</button>
                    <button type="button" class="btn btn-default" data-ng-click="pCntr.addTimer()">Cancel</button>
                </div>
            </form>
            <div class='container' id='timerDiv'></div>
        </div>
        
        <script type="text/javascript" src="js/app/app.js"></script>
        <script type="text/javascript" src="js/app/timer.js"></script>
    </body>
</html>