<div class="row" style="background-color: #ddd;">
    <div class="row">
        <div class="col-xs-3">
            <small>
                <span>{{timerCtrl.project}}</span>
                <span>{{timerCtrl.task}}</span>
            </small>
            <h3>{{timerCtrl.timer || '00:00:00'}}</h3>
        </div>
        <div class="col-xs-3">
            <a class="btn btn-link" data-toggle="collapse" href="{{'#collapseLaps_' + timerCtrl.lapsDivId}}" aria-expanded="false" aria-controls="{{'collapseLaps_' + timerCtrl.lapsDivId}}">Details</a>
            <div class="collapse" id="{{'collapseLaps_' + timerCtrl.lapsDivId}}">
                <div class="well">
                    <small id="{{timerCtrl.lapsDivId}}"></small>  
                </div>
            </div>          
        </div>
    </div>
    <button type="button" class="btn btn-success" data-ng-click="timerCtrl.toggleClock()">{{timerCtrl.payButton || 'Play'}}</button>
    <button type="button" class="btn btn-link" data-ng-click="timerCtrl.stopClock()">Stop</button> 
    <button type="button" class="btn btn-link" data-ng-click="timerCtrl.resetClock()">Reset</button>
    <button type="button" class="btn btn-link" data-ng-click="timerCtrl.deleteClock()">Delete</button>
</div>